
@{
}

<div>
    <h1>Student Information</h1>

</div>
<div>
    <b> Name: </b> Rosales, Iris Joy E.<br>
    <b> Student No.: </b> 1238-18 <br>
    <b> Age: </b> 20 years old <br>
    <b> Address: </b> B19 L85 Grand Riverside Villa, Market Area, City of Santa Rosa Laguna <br>

</div>