@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome!</h1>
</div>
<div>
    <b>Subject Name: </b> Application Dev't and Emerging Technologies <br>
    <b>Subject Code: </b> CC313 <br>
    <b>Schedule: </b> Friday (04:00pm - 05:30pm)<br>
    <b>Professor: </b> Nino Alamo<br>
</div>
